__pycache__/
.env
.venv
.coverage
.pytest_cache/
.python-version

# Dist
**/dist/**

# VS Code
**/.vscode/*
**/zpodcore.code-workspace

# Traefik
traefik/acme.json

# Logs
logs/*
!logs/README.rst

# Openapi files
zpodsdk_builder/openapi.json
zpodapi/scripts/openapi/openapi.json

# Config scripts
zpodengine/src/zpodengine/config_scripts