__pycache__/
.env
.venv
.coverage
.pytest_cache/
.python-version

# VS Code
**/.vscode/*
**/zpodcore.code-workspace

# Traefik
traefik/acme.json

# Logs
logs/*
!logs/README.rst

# Openapi files
zpodsdk_builder/openapi.json
zpodapi/scripts/openapi/openapi.json

#pycharm
**/.idea/*
.idea
.idea/*